<% content_for(:title, 'StackOverflow') %>

<h1>Index Page</h1>

<% @questions.each do |question| %>
  <div>
    <%= link_to question.title, question_path(question) %></a>
    <p>asked <%= time_ago_in_words(question.created_at) %> ago by <%= link_to question.user.name, user_path(question.user.id) %></a></p>
    <br />
  </div>
<% end %>

<h2>Search for a Question: </h2>
<div>
   <%= form_tag(search_index_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
</div>

<h2>Search Results: </h2>

<ul>
    <% @search.each do |search| %>
  <li><%= link_to grant.title,
    :action => 'show', :id => grant.id  %></li>
  <% end %>
</ul>
