<% content_for(:title, 'Profile | StackOverflow') %>
<h1>Profile</h1>

<h2><%= @user.name %></div>

<h3>Questions</h3>
<% @user.questions.each do |question| %>
  <h4><%=  link_to question.title, question_path(question.id) %></h4>
<% end %>
<br />

<p><%= link_to 'Main Menu', root_path %></p>
<p><%= link_to 'New Question', new_question_path %></p>

<% if current_user && @user.id == current_user.id %>
  <%= link_to "Delete account", user_path(@user),
            data: { confirm: "Are you sure you want to delete this account",
            method: 'delete' }
            %>
<% end %>
